
body {
  font-family: 'Alef', sans-serif;
  background-color: #ffffff;
  color: #3d2373;
  padding: 20px;
  direction: rtl;
}
header {
  background-color: #ede7f6;
  padding: 20px;
  border-radius: 12px;
}
main {
  margin-top: 20px;
}
a {
  color: #5e35b1;
  text-decoration: none;
}
form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
input, textarea {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
button {
  background-color: #7e57c2;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
}
